cacheRemoteIngests=B"false"
cachingEverything=B"false"
expirationAgeInMinutes=L"10080"
expirationIntervalInMinutes=L"10"
maxStartIndex=I"50000"
service.pid="ddf.catalog.federation.impl.CachingFederationStrategy"
showErrors=B"false"
showWarnings=B"true"
url="https://REPLACE_HOSTNAME:8993/solr"
